<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">
          About me
        </h2>
        <!-- TODO add a bit about me-->
        <p class="text-white-50">
          <!-- TODO Lorem Ipsum -->
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit elit justo, ut scelerisque mauris tempor tincidunt. Aenean ac sem eu dolor fermentum facilisis eu
          eget dolor. Etiam ut ex mi. Sed id augue tristique, varius ex at, interdum nisi. Duis sagittis leo in vulputate varius. Suspendisse scelerisque lorem at felis cursus
          finibus. Pellentesque malesuada elit dolor, non suscipit sapien dictum quis. Integer pellentesque quis diam non sodales. Nullam hendrerit consequat velit in pulvinar.
          Proin a dui dignissim, vulputate lacus eget, ultricies arcu. Sed tincidunt congue felis eu volutpat.
        </p>
      </div>
    </div>
    <!-- TODO replace ipad image-->
    <img class="img-fluid" src="assets/img/ipad.png" alt="" />
  </div>
</section>
