<section class="projects-section bg-light" id="projects">
  <div class="container">
    <!-- Featured Project Row-->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Lorem Ipsum</h4>
          <p class="text-black-50 mb-0">
            <!-- TODO Lorem Ipsum -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit elit justo, ut scelerisque mauris tempor tincidunt. Aenean ac sem eu dolor fermentum facilisis
            eu eget dolor. Etiam ut ex mi. Sed id augue tristique, varius ex at, interdum nisi. Duis sagittis leo in vulputate varius. Suspendisse scelerisque lorem at felis cursus
            finibus. Pellentesque malesuada elit dolor, non suscipit sapien dictum quis. Integer pellentesque quis diam non sodales. Nullam hendrerit consequat velit in pulvinar.
            Proin a dui dignissim, vulputate lacus eget, ultricies arcu. Sed tincidunt congue felis eu volutpat.
          </p>
        </div>
      </div>
    </div>
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="" />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Lorem Ipsum</h4>
              <p class="mb-0 text-white-50">
                <!-- TODO Lorem Ipsum -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit elit justo, ut scelerisque mauris tempor tincidunt. Aenean ac sem eu dolor fermentum
                facilisis eu eget dolor. Etiam ut ex mi. Sed id augue tristique, varius ex at, interdum nisi. Duis sagittis leo in vulputate varius.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="" />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Lorem Ipsum</h4>
              <p class="mb-0 text-white-50">
                <!-- TODO Lorem Ipsum -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit elit justo, ut scelerisque mauris tempor tincidunt. Aenean ac sem eu dolor fermentum
                facilisis eu eget dolor. Etiam ut ex mi. Sed id augue tristique, varius ex at, interdum nisi. Duis sagittis leo in vulputate varius.
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
