<section class="signup-section" id="requestContact">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">
          Want me to contact you?
        </h2>
        <form class="form-inline d-flex" action="#" onsubmit="window.alert('Functionality coming soon')">
          <div class="form-row w-100">
            <div class="col-12 col-md-4">
              <input class="form-control flex-fill mr-0 mb-3" id="inputName" type="text" placeholder="Name..." />
            </div>
            <div class="col-12 col-md-4">
              <input class="form-control flex-fill mr-0 mb-3" id="inputContactNo" type="text" placeholder="Number..." />
            </div>
            <div class="col-12 col-md-4">
              <input class="form-control flex-fill mr-0 mb-3" id="inputEmail" type="email" placeholder="Email..." />
            </div>
          </div>
          <div class="form-row w-100 mt-1">
            <div class="col-12">
              <button class="btn btn-primary mx-auto" type="submit">
                Request contact
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
