<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      Henry Langenhoven
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#requestContact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">
        My Portfolio
      </h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">
        <i>
          Choose a job you love, and you will never have to work a day in your life.
        </i>
      </h2>
      <a class="btn btn-primary js-scroll-trigger" href="#about">
        Get Started
      </a>
    </div>
  </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">
          About me
        </h2>
        <!-- TODO add a bit about me-->
        <p class="text-white-50">
          <!-- TODO Lorem Ipsum -->
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          suscipit elit justo, ut scelerisque mauris tempor tincidunt.
          Aenean ac sem eu dolor fermentum facilisis eu eget dolor. Etiam ut
          ex mi. Sed id augue tristique, varius ex at, interdum nisi. Duis
          sagittis leo in vulputate varius. Suspendisse scelerisque lorem at
          felis cursus finibus. Pellentesque malesuada elit dolor, non
          suscipit sapien dictum quis. Integer pellentesque quis diam non
          sodales. Nullam hendrerit consequat velit in pulvinar. Proin a dui
          dignissim, vulputate lacus eget, ultricies arcu. Sed tincidunt
          congue felis eu volutpat.
        </p>
      </div>
    </div>
    <!-- TODO replace ipad image-->
    <img class="img-fluid" src="assets/img/ipad.png" alt="" />
  </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container">
    <!-- Featured Project Row-->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img
          class="img-fluid mb-3 mb-lg-0"
          src="assets/img/bg-masthead.jpg"
          alt=""
        />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Lorem Ipsum</h4>
          <p class="text-black-50 mb-0">
            <!-- TODO Lorem Ipsum -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            suscipit elit justo, ut scelerisque mauris tempor tincidunt.
            Aenean ac sem eu dolor fermentum facilisis eu eget dolor. Etiam
            ut ex mi. Sed id augue tristique, varius ex at, interdum nisi.
            Duis sagittis leo in vulputate varius. Suspendisse scelerisque
            lorem at felis cursus finibus. Pellentesque malesuada elit
            dolor, non suscipit sapien dictum quis. Integer pellentesque
            quis diam non sodales. Nullam hendrerit consequat velit in
            pulvinar. Proin a dui dignissim, vulputate lacus eget, ultricies
            arcu. Sed tincidunt congue felis eu volutpat.
          </p>
        </div>
      </div>
    </div>
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="" />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div
              class="project-text w-100 my-auto text-center text-lg-left"
            >
              <h4 class="text-white">Lorem Ipsum</h4>
              <p class="mb-0 text-white-50">
                <!-- TODO Lorem Ipsum -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla suscipit elit justo, ut scelerisque mauris tempor
                tincidunt. Aenean ac sem eu dolor fermentum facilisis eu
                eget dolor. Etiam ut ex mi. Sed id augue tristique, varius
                ex at, interdum nisi. Duis sagittis leo in vulputate varius.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="" />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div
              class="project-text w-100 my-auto text-center text-lg-right"
            >
              <h4 class="text-white">Lorem Ipsum</h4>
              <p class="mb-0 text-white-50">
                <!-- TODO Lorem Ipsum -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla suscipit elit justo, ut scelerisque mauris tempor
                tincidunt. Aenean ac sem eu dolor fermentum facilisis eu
                eget dolor. Etiam ut ex mi. Sed id augue tristique, varius
                ex at, interdum nisi. Duis sagittis leo in vulputate varius.
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Request Contact-->
<section class="signup-section" id="requestContact">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">
          Want me to contact you?
        </h2>
        <form
          class="form-inline d-flex"
          action="#"
          onsubmit="window.alert('Functionality coming soon')"
        >
          <div class="form-row w-100">
            <div class="col-12 col-md-4">
              <input
                class="form-control flex-fill mr-0 mb-3"
                id="inputName"
                type="text"
                placeholder="Name..."
              />
            </div>
            <div class="col-12 col-md-4">
              <input
                class="form-control flex-fill mr-0 mb-3"
                id="inputContactNo"
                type="text"
                placeholder="Number..."
              />
            </div>
            <div class="col-12 col-md-4">
              <input
                class="form-control flex-fill mr-0 mb-3"
                id="inputEmail"
                type="email"
                placeholder="Email..."
              />
            </div>
          </div>
          <div class="form-row w-100 mt-1">
            <div class="col-12">
              <button class="btn btn-primary mx-auto" type="submit">
                Request contact
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">
              Location
            </h4>
            <hr class="my-4" />
            <div class="small text-black-50">
              Pretoria, South Africa
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">
              Email
            </h4>
            <hr class="my-4" />
            <div class="small text-black-50">
              <!-- TODO add email -->
              <a href="#!">hello@yourdomain.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">
              Phone
            </h4>
            <hr class="my-4" />
            <!--                  TODO add phone-->
            <div class="small text-black-50">+1 (555) 902-8832</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      <a
        class="mx-2"
        href="https://twitter.com/HenryLangman"
        target="_blank"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        class="mx-2"
        href="https://www.linkedin.com/in/henry-langenhoven-90938a132/"
        target="_blank"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a
        class="mx-2"
        href="https://github.com/henrylangenhoven"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
  <div class="container">Copyright © Henry Langenhoven 2020</div>
</footer>
